html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #FFCAD4 50%, #E8EEEA 50%);
  min-height: 1000px;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 95vh;
}
main {
  text-align: center;
  flex: 1 0 auto;
}
h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #F4ACB7;
  text-align: center;
}
form.edit {
  display: flex;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

.checkbox-form {
  margin-left: 20px;
}

/* Animated checkbox (Uiverse-inspired) */
.animated-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.animated-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.animated-checkbox__mark {
  --clr: #2d8cf0;
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 300ms;
}

.animated-checkbox input:checked ~ .animated-checkbox__mark {
  background-color: var(--clr);
  border-radius: 0.5rem;
  animation: checkboxPulse 500ms ease-in-out;
}

.animated-checkbox__mark:after {
  content: "";
  position: absolute;
  display: none;
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #e0e0e2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.animated-checkbox input:checked ~ .animated-checkbox__mark:after {
  display: block;
}

@keyframes checkboxPulse {
  0% {
    box-shadow: 0 0 0 #0b6e4f90;
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px #0b6e4f60;
  }

  100% {
    box-shadow: 0 0 0 13px #0b6e4f30;
    rotate: 0;
  }
}

p {
  margin: 0;
  padding: 20px 0;
  font-size: 20px;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button.add {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #FFCAD4;
  color: #fff;
  font-size: 30px;
  border-width: 0;
}

button.edit {
  margin-left: 0px;
  margin-right: 20px;
  border: none;
  background: none;
}

.icon {
  height: 20px;
}

input[type="text"] {
  text-align: left;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 80%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #FFCAD4;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}

footer {
  flex: 0 0 auto;
  color: white;
  text-align: center;
}
